:root {
  --mostly-used-color: #212121;
  --second-level-color: #757575;
  --accent-color: #2196f3;
}

body {
  color: var(--mostly-used-color);
  font-family: Roboto, sans-serif;
}
ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

/* ========HEADER STYLES==========*/

.page-header .container {
  display: flex;
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}
.flex-list {
  display: flex;
}
.flex-list .flex-list-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .contacts-nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: Raleway;
  margin-right: 93px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-style {
  color: #000000;
}

.nav-links {
  font-weight: 500;
  display: block;
  font-size: 14px;
  padding-bottom: 32px;
  padding-top: 32px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: blue;
}
.nav-links:hover,
.nav-links:focus {
  color: var(--accent-color);
}

.page-header .contact-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--second-level-color);
}
.contact-info:hover,
.contact-info:focus {
  color: #2196f3;
}
/* =========HERE ENDS HEADER STYLES====== */

/* ========== HERO STYLES ========= */
.solutions {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-description {
  background-color: #2f303a;
  text-align: center;
}

.services {
  font-weight: 900;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.services:hover,
.services:focus {
  color: black;
}
/* =========HERE ENDS HERO STYLES======== */

/* ===========MAIN STYLES==========  */

.main-part .container {
  display: flex;
  width: 1230px;
  margin: 0 auto;
}

.opportunities-list {
  display: flex;
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
}

.opportunities-list-item {
  width: 270px;
  margin-top: 94px;
  margin-right: 30px;
  margin-left: auto;
}

.opportunities-list-item:last-child {
  margin-right: 0px;
}
.opportunities-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  align-items: center;
}
.opportunities-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
}

.section-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin-top: 94px;
  letter-spacing: 0.03em;
}

.doings .container {
  display: flex;
  width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.doings-list {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-bottom: 0px;
}

.doings-images {
  margin-top: 50px;
}
.doings-images:not(:last-child) {
  margin-right: 30px;
}

.team .container {
  display: flex;
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.team-list {
  display: flex;
  width: 1230px;
}

.team-list-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:last-child {
  margin-right: 0px;
}

.our-team {
  margin-bottom: 50px;
}

.members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.members-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
  margin-top: 10px;
  margin-bottom: 30px;
}
/* ==========HERE ENDS MAIN STYLES========== */

/* =========FOOTER STYLES========== */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.footer-logo-style {
  color: #ffffff;
}

.main-contacts {
  font-family: inherit;
  font-style: inherit;
}

.main-contacts .contact-info {
  margin-bottom: 9px;
  display: block;
}

.footer .container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.google-maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-on-map {
  font-weight: 400;
  display: block;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}
.address-on-map:hover,
.address-on-map:focus {
  color: var(--accent-color);
}
/* =======HERE ENDS FOOTER STYLES========= */

/* ======PORTFOLIO.HTML STYLES-"MAIN" PART======== */

.filter-button-list {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}

.filter-button {
  font-weight: 500;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--mostly-used-color);
  margin-left: 8px;
  background: #f5f4fa;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.projects-list-item {
  width: 380px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.projects-list-item:nth-child(3n) {
  margin-right: 0px;
}
.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-list h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--mostly-used-color);
}
.projects-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-level-color);
}

.projects-list h3:hover,
.projects-list h3:focus {
  color: var(--accent-color);
}
.projects-list p:hover,
:focus {
  color: var(--accent-color);
}
